body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 600px;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

h1 {
    font-size: 42px;
    color: #333;
}

p {
    color: gray;
    font-size: 18px;
}

button {
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 12px;
    background: #2575fc;
    color: white;
    font-size: 18px;
    cursor: pointer;
}